%h1 Совет хакерспейса
%p.lead
  В хакерспейсе есть разные люди, у которых иногда случаются конфликты. Если по каким-то причинам
  участники не смогли договориться самостоятельно, они могут задать вопрос Совету хакерспейса, выбранному
  голосованием участников

%h3 Полномочия совета
.lead
  %p.lead
    %ul
      %li Окончательно решать спорный вопрос. Решение обсуждению не подлежит
      %li Применять меры к членам хакерспейса, вплоть до исключения (или вынесения этого вопроса на общее собрание)
      %li Созывать общее собрание хакерспейса
      %li Представлять хакерспейс на внешних переговорах

%h3 Обязанности совета
.lead
  %p.lead
    %ul
      %li Разрешать спорные вопросы участников хакерспейса в течение 72 часов
      %li Обязательная процедура переизбрания совета не позже, чем через два года, вне зависимости от желания сообщества

%h3 Состав совета
%p.lead
  Совет состоит из пяти участников, обратиться к ним можно через Телеграм:
  %br
  %a{href: 'https://t.me/@Jekhor', target: '_blank'}
    @Jekhor
  %a{href: 'https://t.me/@Flopr', target: '_blank'}
    @Flopr
  %a{href: 'https://t.me/@Mary_Rezanova', target: '_blank'}
    @Mary_Rezanova
  %a{href: 'https://t.me/@globalmain', target: '_blank'}
    @tequilarusa
  %a{href: 'https://t.me/@k2m30', target: '_blank'}
    @k2m30
