%hr
%iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=ti66tjoohvkqc5j2c603te0m9g%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Europe%2FMinsk", :style => " border-width:0 ", :width => "800"}
%iframe{src: 'https://www.google.com/calendar/embed?src=ti66tjoohvkqc5j2c603te0m9g%40group.calendar.google.com&ctz=Europe/Minsk&amp;height=600', heigth: '1024', width: '1024'}