-#%hr
-#%iframe{:frameborder => "0", :height => "600", :scrolling => "no", src: 'https://www.google.com/calendar/embed?src=ti66tjoohvkqc5j2c603te0m9g%40group.calendar.google.com&ctz=Europe/Minsk&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2', heigth: '1024', width: '1024', scrolling: "no"}
-#%hr
%h2 Когда у нас открыто
.row
  .col-md-12.col-xs-12
    %table.table.table-condensed.heat
      %thead
        %tr
          %th
          -(0..23).each do |hour|
            %th
              = hour

      %tbody
        -@heatmap.days_of_week.each do |day|
          %tr
            %td.day
              =day
            -hours = @heatmap.heatmap[day].rotate!(-3)
            -hours.each_index do |hour|
              - c = hours[hour]
              %td.hour{style: "opacity: #{c.round(-1)/100.0};", 'data-toggle': 'tooltip', 'data-placement': 'top', title: "#{c}%"}
    %p.lead
      Чем зеленее клетка, тем с большей вероятностью вы застанете кого-то в Хакерспейсе

%h2 Расписание занятых железок
.row
  .col-md-8
    %p.lead
      Здесь мы отмечаем время для работы с оборудованием хакерспейса.
      Если вам гарантированно нужен 3D принтер или ЧПУ фрезер в удобное для вас время, убедитесь, что вы забронировали это время здесь.
    %p.lead
      Иначе, пользуется им тот, кто пришел раньше.
    %p.lead
      %a{href:'https://mxc.skedda.com/', target: '_blank'}><
        Зарегистрируйтесь
      , чтобы видеть, кто именно забронировал оборудование и получить возможность делать это самостоятельно.
.row
  .col-md-8#skedda{style: 'position: absolute; height: 100%'}
    %iframe{src: 'https://mxc.skedda.com/booking?embedded=true', style:'max-width: 100vw; width: 100%; height: 100%; max-height: 56vw; border: none; display: block;'}