.container.marketing
  .jumbotron
    %h1
      =t 'index.hello_world', default: 'Hello World'
    %p
      =t 'index.hello_world_description', default: 'Description'
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Что это такое?
        %span.text-muted It'll blow your mind.
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "https://scontent-a-vie.xx.fbcdn.net/hphotos-ash3/t1.0-9/1457652_248205555338483_1951265567_n.png"}
  %hr.featurette-divider
    .row.featurette
      .col-md-5
        %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "https://scontent-a-vie.xx.fbcdn.net/hphotos-ash3/t1.0-9/1457652_248205555338483_1951265567_n.png"}
      .col-md-7
        %h2.featurette-heading
          Чем мы здесь занимаемся?
          %span.text-muted See for yourself.
        %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    %hr.featurette-divider
      .row.featurette
        .col-md-7
          %h2.featurette-heading
            Сколько это стоит?
            %span.text-muted Как к нам присоединиться?
          %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "https://scontent-a-vie.xx.fbcdn.net/hphotos-ash3/t1.0-9/1457652_248205555338483_1951265567_n.png"}
      %hr.featurette-divider
