%h1
  = t('join_us.title')

.lead
  %p.lead
    Для того, чтобы вступить в наш клуб на постоянной основе, вам нужно:
    %ul
      %li
        Дожить, как минимум, до 16 лет
      %li
        Прочитать, понять и принять для себя наши
        %a{href: '/rules'} правила
      %li
        Подписаться на нашу
        %a{href: 'https://groups.google.com/d/forum/hackerspace-minsk', target: '_blank', rel: 'nofollow'}
          рассылку
        и написать туда о себе желательно с фотографией
        (это наш основной канал для связи с участниками, обсуждения важных вопросов и рассылки важных сообщений).      
      %li
        Прийти на несколько дней открытых дверей, познакомиться с нами и рассказать о себе,
        найти внутри ХС того, кто заведет аккаунт на сайте
      %li
        Получить две рекомендации от постоянных участников, это несложно
      %li
        Написать
        %a{href: 'https://github.com/minsk-hackerspace/organisation/raw/master/Zayava.pdf', rel: 'nofollow', target: '_blank'}
          заявление на вступление
        , оставить его внутри ХС  
      %li
        Оплатить 
        %a{href: '/payment'}
          взнос
        по номеру аккаунта на сайте.

%p.lead
  Всегда можно договориться о встрече или задать вопрос в нашем
  %a{href: 'https://telegram.me/joinchat/Bxa3CT7ai59igvC1dP95Aw', target: '_blank', rel: 'nofollow'}
    общем чате
  в Телегараме

%h2
  Формальные вопросы
%p.lead
  С юридической стороны Минский хакерспейс является первичной организацией "Мастерская инновационно-технического творчества"
  общественного объединения
  %a{href: 'http://boir.by/statute.html', rel: 'nofollow', target: '_blank'}
    "Белорусское объединение изобретателей и рационализаторов"
%p.lead

%p.lead
  Мы не преследуем цели(и не имеем права, как общественное объединение) заработать денег.
  Все взносы участников мы направляем на наше развитие, покрытие расходов на аренду и коммунальные услуги,
  покупку расходников и материалов.
