%h1
  Присоединиться

%p
  Для того, чтобы вступить в наш клуб на постоянной основе, вам нужно:
  %ul
    %li
      Дожить как минимум до 16 лет
    %li
      Прочитать, понять и принять для себя наши
      %a{href: '/rules'} правила
    %li
      Подписаться на нашу
      %a{href: 'https://groups.google.com/d/forum/hackerspace-minsk', target: '_blank', rel: 'nofollow'}
        рассылку
      и написать туда о себе, желательно с фотографией
      (это наш официальный канал для связи с участниками, обсуждения важных вопросов и рассылки важных сообщений).
    %li
      Прийти на несколько дней открытых дверей, познакомиться с нами и рассказать о себе,
      найти внутри ХС того, кто заведет аккаунт на сайте
    %li
      Получить две рекомендации от постоянных участников, это несложно
    %li
      Написать
      %a{href: 'https://github.com/minsk-hackerspace/organisation/raw/master/Zayava.pdf', rel: 'nofollow', target: '_blank'}
        заявление на вступление
      , оставить его внутри ХС  
    %li
      Оплатить
      = link_to 'взнос', howtopay_path
      по номеру аккаунта на сайте.

%p
  Всегда можно договориться о встрече или задать вопрос в нашем
  %a{href: 'https://telegram.me/joinchat/Bxa3CT7ai59igvC1dP95Aw', target: '_blank', rel: 'nofollow'}
    общем чате
  в Телегараме

%p
  В силу того, что полноценное участие в hackerspace предполагает наличие 
  расширенных прав доступа к мастерской и оборудованию, сообществу хочется 
  понимать, что новый участник адeкватен, способен отдавать отчет своим 
  действиям и в полной мере понимает и соблюдает принципы и правила 
  творческой мастерской. К сожалению, убедиться в этом заочно достаточно 
  сложно. Как правило, достаточно пару раз посетить мастерскую, пообщаться 
  с участниками. Если вы уже посещали мастерскую в день открытых дверей, 
  представляете, как все устроено, и хотите прийти, чтобы поработать над своим
  проектом - просто согласуйте это в общем чатике в Телеграме или лично с
  любым из активных участников. 

%h2
  Формальные вопросы
%p
  С юридической стороны Минский хакерспейс является первичной организацией "Мастерская инновационно-технического творчества"
  общественного объединения
  %a{href: 'http://boir.by/statute.html', rel: 'nofollow', target: '_blank'}
    "Белорусское общество изобретателей и рационализаторов"
%p

%p
  Мы не преследуем цели(и не имеем права, как общественное объединение) заработать денег.
  Все взносы участников мы направляем на наше развитие, покрытие расходов на аренду и коммунальные услуги,
  покупку расходников и материалов.


