%h1 Наши принципы
.row.featurette
  .col-md-12
    %p.lead Хакерспейс (ХС) — независимая некоммерческая общественная мастерская-клуб. Из этого вырастают принципы участия и пользования им:
    %ol.lead
      %li Все участники помогают создавать пространство, комфортное для работы.
      %li Участники вкладывают(contribute) больше, чем потребляют(consume).
      %li Каждый может заниматься тем проектом и той деятельностью, которой хочет, в разумных рамках, не мешая другим.
      %li Посетители хакерспейса делятся на две группы: постоянные участники и гости.
      %li Постоянные участники — оплатившие ежемесячный взнос (в среднем ~$40 в эквиваленте). Они имеют право доступа в ХС в любой момент.
      %li Гости — все остальные. Гость может прийти в день открытых дверей или к конкретному постоянному участнику (и тогда может работать вместе с ним).
      %li Посетитель может пользоваться всем общественным оборудованием и материалами хакерспейса.
      %li В мастерской есть общественные оборудование и материалы, а есть чьи-то личные. Если сомневаетесь, можно ли разобрать на запчасти конкретный прибор или пустить в дело лист фанеры — спросите об этом!
      %li
        Организационные и принципиальные технические решения принимаются путём долгих, нудных и пустопорожних обсуждений в рассылке или в самом хакерспейсе. Или кто-то просто берёт на себя ответственность за решение и делает :)
      %li
        И вообще, никакие "Мне не нравится" или "Давайте сделаем вот так.." не принимаются. Есть "Мне не нравится, и я сделаю лучше" и "Давайте я сделаю вот так".

.row.featurette
  .col-md-12
    %h2 Бытовые, но очень важные правила:
    %h3 Уходишь – убери за собой
    %ul.lead
      %li Постарайся оставить хакерспейс в лучшем состоянии, чем он был, когда ты пришел
      %li Оставь рабочие столы пустыми
      %li Не забудь про паяльный стол, сверлильный станок, верстаки и так далее
      %li Подмети за собой остатки изоляции, опилки и стружки
      %li Посуда должна быть вымыта
      %li Если мусор не помещается в ведро без физических усилий – вынеси его
      %li У нас нет выделенных кому-то конкретному рабочих мест
      %li
        %p
        Даже если ты
        %ul.dash
          %li никому не мешаешь
          %li совсем
          %li точно уверен, что завтра утром вернёшься и продолжишь
          %li почти не работал, так, посверлил чуток
        %p
        То убери за собой всё равно

    %h3 Уходишь последним – убери всё
    %ul.lead
      %li Cовсем всё, не только своё
      %li Да, не забудь про паяльный стол, сверлильный станок, верстаки и так далее
      %li И про пол вокруг
      %li Вымой все кружки, что остались, это несложно
      %li Заодно проверь, не пора ли вынести мусор
    %h3 Стеллажи
    %ul.lead
      %li Личные вещи храни в личной коробке. Подписанной, и с красным стикером. Объём личных вещей — разумный (1-2 стандартные коробки). Если больше — будь готов к тому, что попросят ужаться
      %li Не тащи к нам всякий хлам, который валяется у тебя в гараже/на балконе/антресолях. Если вещь не пригодилась тебе несколько лет, нам она тоже скорее всего не пригодится и попадет в кандидаты на выброс
      %li
        %p
          Маркировка стикерами:
        %ul.dash
          %li красный: личные вещи
          %li оранжевый: вещи в общем пользовании (внутри ХС, с возвратом)
          %li зелёный: доступно для общего пользования (можно использовать без возврата)
          %li жёлтый: поиск владельца
      %li Наклеивай желтый стикер с датой на все неподписанные коробки. Если хозяин за месяц не объявится, вещь национализируется (клеится зелёный/оранжевый). Либо перемещается в коробку «Кандидаты на выброс»
      %li Если ты эксперт в каком-то сложном оборудовании, напиши своё имя на стикере и расшарь документацию
    %h3 Доступ
    %ul.lead
      %li Хакерспейс — общественное место
      %li Сюда можно зайти в любое время
      %li Нельзя закрываться внутри. Если на сайте написано, что ХС открыт, значит, можно зайти в гости
      %li В ХС есть постоянно включенная веб-камера, доступная участникам

.row.featurette
  .col-md-12
    %h2 Принципы важнее правил
