%h1 Правила
.row.featurette
  .col-md-12
    %p.lead Хакерспейс (ХС) — независимая некоммерческая общественная мастерская-клуб. Из этого вырастают принципы участия и пользования им:
    %ol.lead
      %li Все участники помогают создавать пространство, комфортное для работы.
      %li Каждый может заниматься тем проектом и той деятельностью, которой хочет, в разумных рамках.
      %li Посетители хакерспейса делятся на две группы: постоянные участники и гости.
      %li Постоянные участники — оплатившие ежемесячный взнос (на данный момент $40 в эквиваленте). Они имеют право доступа в ХС в любой момент.
      %li Гости — все остальные. Гость может прийти в день открытых дверей или к конкретному постоянному участнику (и тогда может работать вместе с ним).
      %li Посетитель может пользоваться всем общественным оборудованием и материалами хакерспейса.
      %li В мастерской есть общественные оборудование и материалы, а есть чьи-то личные. Если сомневаетесь, можно ли разобрать на запчасти конкретный прибор или пустить в дело лист фанеры — спросите об этом!
      %li
        Организационные и принципиальные технические решения принимаются путём долгих, нудных и пустопорожних обсуждений в рассылке или в самом хакерспейсе. Или кто-то просто берёт на себя ответственность за решение и делает :)
      %li
        И вообще, никакие "Мне не нравится" или "Давайте сделаем вот так.." не принимаются. Есть "Мне не нравится, и я сделаю лучше" и "Давайте я сделаю вот так.".
    %p.lead Наверное, эти принципы будут формализованы в виде официальных правил. Когда-нибудь. Со временем.