%h1 Правила
.row.featurette
  .col-md-12
    %p.lead Хакерспейс (ХС) — независимая некоммерческая общественная мастерская-клуб. Из этого вырастают принципы участия и пользования им:
    %ol.lead
      %li Все участники помогают создавать пространство, комфортное для работы.
      %li Каждый может заниматься тем проектом и той деятельностью, которой хочет, в разумных рамках.
      %li Посетители хакерспейса делятся на две группы: постоянные участники и гости.
      %li Постоянные участники — оплатившие ежемесячный взнос (на данный момент $40 в эквиваленте). Они имеют право доступа в ХС в любой момент.
      %li Гости — все остальные. Гость может прийти в день открытых дверей или к конкретному постоянному участнику (и тогда может работать вместе с ним).
      %li Посетитель может пользоваться всем общественным оборудованием и материалами хакерспейса.
      %li В мастерской есть общественные оборудование и материалы, а есть чьи-то личные. Если сомневаетесь, можно ли разобрать на запчасти конкретный прибор или пустить в дело лист фанеры — спросите об этом!
      %li
        Организационные и принципиальные технические решения принимаются путём долгих, нудных и пустопорожних обсуждений в рассылке или в самом хакерспейсе. Или кто-то просто берёт на себя ответственность за решение и делает :)
      %li
        И вообще, никакие "Мне не нравится" или "Давайте сделаем вот так.." не принимаются. Есть "Мне не нравится, и я сделаю лучше" и "Давайте я сделаю вот так".

    %p.lead Несколько более формализованные правила совместной работы в ХС:
    %ol.lead
      %li Уходя, оставь столы пустыми — что бы ты ни делал, чем бы ни занимался, когда уходишь, даже если точно уверен, что завтра утром вернёшься — убери со стола всё. Уходишь последним — совсем всё, не только своё. Нет выделенных кому-то конкретному рабочих мест.
      %li То же правило касается остального — паяльного стола, сверлильного станка, верстака и так далее. Закончил работать — убери.
      %li Посуда должна быть вымыта. Опять-таки, уходишь последним после тусовки — вымой все кружки, что остались, это несложно. Заодно проверь, не пора ли вынести мусор.
      %li Личные вещи хранятся в личной коробке. Подписанной и промаркированной соответствующе. Объём личных вещей — разумный, порядка 1-2 «стандартных» (не размером с полку стеллажа) коробок. Если больше — будь готов к тому, что попросят ужаться.
      %li Маркировка: красный стикер — личка, оранжевый — вещи в общем пользовании, зелёный — материалы и детали, которые можно брать и использовать, жёлтый — поиск владельца.
      %li Все неподписанные коробки любой человек может промаркировать жёлтым стикером, проставив дату. Если через месяц поверх не наклеен какой-то другой с именем хозяина, вещь национализируется и клеится зелёный/оранжевый. Либо перемещается в коробку «Кандидаты на выброс».
      %li Если знаешь, как устроено какое-то сложное оборудование или как с ним работать, — напиши своё имя на стикере и расшарь документацию.
      %li ХС — общественное место. Туда зайти можно в любое время, в нём есть постоянно включенная веб-камера, доступная участникам. Нельзя закрываться — если на сайте написано, что ХС открыт, — значит, можно зайти в гости.
