- cache :rules do
  -page_content = Net::HTTP.get(URI.parse('https://raw.githubusercontent.com/minsk-hackerspace/organisation/master/rules.md'))
  .lead
    = markup2html page_content.force_encoding("UTF-8"), 'markdown'

  %hr

