%h1 Наши тарифы
%p.lead
  Категории участия
%table.table.table-bordered.lead
  %tr
    %th Название
    %th Описание
    %th Возможности
    %th Размер, BYN
  %tr
    %td Remote Hacker
    %td Участник поддерживающий хакерспейс.
    %td Гордое звание хакера. Аккаунт на сайте. Доступ к сайту и его возможностям.
    %td 10
  %tr
    %td Starving Hacker
    %td Студент, участник без стабильного заработка
    %td Все, что выше, плюс доступ в хакерспейс в любое время (ключ), плюс коробка для личных вещей и место на стеллаже под нее. Может приходить с одним гостем.
    %td 20
  %tr
    %td Standard membership
    %td Участник со стабильным заработком
    %td Все, что выше, Плюс 1-2 дополнительные коробки и место на стеллаже под них. Может рекомендовать новых участников, приводить много гостей.
    %td 50
  %tr
    %td Extended membership
    %td Активный участник
    %td
      Все, что выше, звездочка напротив ника в списке участников, email
      %u nickname@hackerspace.by
      по запросу
    %td 100
  %tr
    %td Professional
    %td Для больших проектов
    %td Все, что выше, плюс еще место на стеллажах, которое ограничивается только принципами хакерспейса (не мешать другим)
    %td 200
  %tr
    %td Dedicated
    %td Выделенное рабочее место
    %td Все, что выше, плюс свой стол для работы, который можно долго не убирать
    %td 500
%p.lead
  Мы рады всем хорошим людям, но если вы не готовы полноценно финансово поучаствовать в общем деле
  (Starving hacker), то будьте готовы, что вас попросят внести свой вклад руками в виде
  общественных работ – что-то собрать, починить, почистить, перенести и так далее.
