%h1 Наши тарифы
%p.lead
  Категории участия
%table.table.table-bordered.lead
  %tr
    %th Название
    %th Описание
    %th Возможности
    %th Размер, BYN
  %tr
    %td Remote Hacker
    %td Участник, поддерживающий хакерспейс
    %td Гордое звание хакера. Аккаунт на сайте. Доступ к сайту и его возможностям, доступ по SSH/VPN к другим ресурсам хакерспейса. Без права свободного доступа в хакерспейс
    %td 10
  %tr
    %td Standard membership
    %td Обычный участник
    %td То же, что Remote Hacker, плюс доступ в хакерспейс в любое время (ключ), 1-2 дополнительные коробки и место на стеллаже под них. Может рекомендовать новых участников, приводить гостей
    %td 70
  %tr
    %td Понауехавший
    %td Временно отсутствующий участник
    %td То же, что Remote Hacker, плюс коробка с вещами (20 л). Только для обычных участников, временно прекращающих ходить в хакерспейс
    %td 20

