language: ruby
cache: bundler

script:
  - cp config/database.example.yml config/database.yml
  - bundle exec rake db:setup RAILS_ENV=test
  - bundle exec rails spec
  - bundle exec bundle-audit check --update
  - bundle exec brakeman -z
