%h2= t('users.title')

.container
  .row
    .col-lg-12
      = render 'hackers', hackers: @active_users

  - if current_user.admin?
    %h2 Suspended, banned and forgotten
    .row
      .col-lg-12
        = render 'hackers', hackers: @non_active_users
