%h1 Редактирование

= render 'form'

%p
  = link_to 'Назад к списку новостей', news_path, class: 'btn btn-info'
  = link_to 'Удалить', news_path(@news), class: 'btn btn-danger', data: { confirm: "Точно?" }, method: :delete
