%h1 Новости

.container
  - @news.each do |news|
    .row
      .col-lg-2
      .col-lg-8
        %h2
          = link_to news.title, news_path(news)
        %p
          = link_to image_tag(news.photo.url(:medium), class: 'center-block'), news_path(news)
        %p
          = news.short_desc.html_safe
        %p
          %a.btn.btn-default{href: news_path(news), role: 'button'} Читать дальше &raquo;
        %hr
      .col-lg-2

  - if user_signed_in?
    %hr
    = link_to 'Добавить новость', new_news_path, class: 'btn btn-info'
  %hr
