%h1 Новости
%hr

.container
  - @news.each_slice(3) do |news_row|
    .row
      - news_row.each do |news|
        .col-lg-4
          = link_to image_tag(news.photo.url(:thumb), class: 'center-block'), news_path(news)
          %h2
            = link_to news.title, news_path(news)

          %p
            = news.short_desc.html_safe
          %p
            %a.btn.btn-default{href: news_path(news), role: 'button'} Читать дальше &raquo;

  - if user_signed_in?
    %hr
    = link_to 'Добавить новость', new_news_path, class: 'btn btn-info'
  %hr
