%h1 Новости

.container
  - @news.each do |news|
    .row
      .col-lg-3
        = link_to image_tag(news.photo.url(:thumb)), news_path(news)
      .col-lg-9
        %h2
          = link_to news.title, news_path(news)
        %p
          = news.short_desc.html_safe
        %p
          %a.btn.btn-default{href: news_path(news), role: 'button'} Читать дальше &raquo;
    .row
      .col-lg-12
        %hr

  - if user_signed_in?
    %hr
    = link_to 'Добавить новость', new_news_path, class: 'btn btn-info'
  %hr
