%h1 Редактирование

= render 'form'

= link_to 'Назад к списку проектов', projects_path, class: 'btn btn-info btn-sm'

= link_to 'Удалить', project_path(@project), class: 'btn btn-danger btn-sm', data: { confirm: "Точно?" }, method: :delete

%br{:class => "bottom_margin"}
