%h1 Наши проекты
%hr

.container
  - @projects.each_slice(3) do |project_row|
    .row
      - project_row.each do |project|
        .col-lg-4
          = link_to image_tag(project.photo.url(:thumb), class: 'center-block'), project_path(project)
          %h2
            = link_to project.name, project_path(project)
          %p
            = project.short_desc.html_safe
          %p
            %a.btn.btn-default{href: project_path(project), role: 'button'} Читать дальше &raquo;

  - if user_signed_in?
    %hr
    = link_to 'Добавить проект', new_project_path, class: 'btn btn-info'
  %hr
