/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$state-warning-bg:	rgba(252, 248, 227, 0.5);
$state-danger-bg:	rgba(242, 222, 222, 0.5);

$screen-sm: 1090px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic);
@import 'font-awesome';

body {
  margin-top: 80px;
  margin-bottom: 70px;
  background-image: url('../../images/back.jpg');
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}

img {
  box-shadow: 1px 1px 5px grey;
  border-radius: 4px;
}

img.no-shadow {
  box-shadow: 0px 0px 0px;
  border-radius: 0px;
}

.hsopen-unknown {
  box-shadow: 0px 0px 6px 3px grey;
}

.hsopen-opened {
  box-shadow: 0px 0px 10px 3px darkgreen;
}

.hsopen-closed {
//  box-shadow: 0px 0px 1px 1px grey;
}

/* Base callout styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  border-radius: 3px;
  box-shadow: 1px 1px 8px grey;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  opacity: 0.9;
  border-color: #d0e3f0;
}

.greenhs.bs-callout-info {
  background-color: rgba(0, 159, 120, 0.25);
  border-color: rgba(0, 119, 101, 0.2);
  color: rgba(0, 69, 41, 1);
}


.malinohs.bs-callout-info {
  background-color: rgba(252, 189, 202,0.25);
  border-color: rgba(70,27,42,0.2);
  color: rgba(70,10,36,1);
}


.mandatory label::after {
  content: '*';
  color: #ff0000;
  vertical-align: super;
  font-size: 70%;
}

ul.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  margin-bottom: 0.3em;
}
ul.dash > li:before {
  display: inline-block;
  content: "–";
  width: 1em;
  margin-left: -1em;
}
ul.lead li p {
margin-bottom: 0.2em;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  background-color: black;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: white;
}

.footer .nav > li > a:hover {
  color: green;
}

.contacts {
  text-align: center;
  font-size: 1.5em;
}

.contacts .text {
  padding: 15px;
}

footer ul.nav.navbar-nav.navbar-right > li > a {
  padding: 5px 15px;
}

nav ul.nav.navbar-nav> li > a {
  padding-left: 8px;
  padding-right: 8px;
}

/* стили для схлопывания контента в шапке  */
@media (max-width: 1220px) and (min-width: $screen-sm) {

	/* убрать подпись у баланса */
	.navbar-collapsible {
		display: none
	}
}

@media (max-width: 1350px) {
	/* уменьшить логотип */
	a.navbar-brand {
		padding: 8px 15px;
		line-height: 10px;
	}
	.navbar-brand img {
		width: 50px;
		height: 38px;
		object-fit: contain;
	}
}

/* mobile view */
@media (max-width: $screen-sm) {

  .contacts li {
    display: inline-block;
  }

  .container img {
    max-width: 100%;
  }
} 
