/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic);

body {
  margin-top: 76px;
  background-image: url('../../images/back.jpg');
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
}

img {
  box-shadow: 1px 1px 5px grey;
  border-radius: 4px;
}

.hsopen-unknown {
  box-shadow: 0px 0px 6px 3px grey;
}

.hsopen-opened {
  box-shadow: 0px 0px 10px 3px darkgreen;
}

.hsopen-closed {
//  box-shadow: 0px 0px 1px 1px grey;
}

/* Base callout styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  border-radius: 3px;
  box-shadow: 1px 1px 8px grey;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  opacity: 0.9;
  border-color: #d0e3f0;
}

.mandatory label::after {
  content: '*';
  color: #ff0000;
  vertical-align: super;
  font-size: 70%;
}

.footer {
  font-size: 0.7em;
}
