// Place all the styles related to the hackers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.useful img{
  width: 400px;
}

.links {
  margin-top: 20px;
  margin-left: 40px;
}

.user {
  margin-top: 40px;
  margin-left: 40px;
  font-size: 18px;

  .last-login {
    font-size: 14px;
  }
}

.ssh-public-key {
  width: 700px;
  word-wrap: break-word;
}

.payments {
  margin-left: 40px;
}

.projects {
  margin-left: 40px;
}

.additional_info {
  margin-left: 40px;
}
