// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.hour {
  //background: green;
  border: 1.5px solid darkgray;
  border-radius: 0px;
  width: 4%;
  background: rgb(0, 51, 0);
}

td.day {
  text-align: right;
}

table.heat {
  width: 96%;
  background-color: whitesmoke;
  border-radius: 2px;
  thead > tr > th {
    border-bottom: none;
  }
}

.news-entry {
  img {
    margin-right: 1em;
  }
}

/* стили для схлопывания контента в шапке  */
@media (max-width: 1220px) and (min-width: $screen-sm) {

	/* убрать подпись у баланса */
	.navbar-collapsible {
		display: none
	}
}

@media (max-width: 1350px) {
	/* уменьшить логотип */
	a.navbar-brand {
		padding: 8px 15px;
		line-height: 10px;
	}
	.navbar-brand img {
		width: 50px;
		height: 38px;
		object-fit: contain;
	}
}

/* mobile view */
@media (max-width: $screen-sm) {

  .contacts li {
    display: inline-block;
  }

}