// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 a {
  color: inherit;
}

.bottom_margin {
	display: block;
	margin-top: 50px;
	font-size:20px;
	line-height: 20px;
}
