%h1 Благодарности

- @thanks.each_slice(2) do |thanks_row|
  .row.mb-5
    - thanks_row.each do |thank|
      .col-lg-6
        %h2
          = link_to thank.name_with_id, thank_path(thank)
        %p
          = link_to image_tag(thank.photo.url(:medium), class: 'left-block img-fluid'), thank_path(thank)
        %p
          = thank.short_desc.html_safe
        %p
          %a.btn.btn-primary{href: thank_path(thank), role: 'button'} Читать дальше &raquo;

- if user_signed_in?
  = link_to 'Добавить благодарность', new_thank_path, class: 'btn btn-info'
