:plain
  Привет, #{@user&.first_name || 'участник Хакерспейса'}!

  Мы получили твой членский взнос и снова рады приветствовать в наших рядах!
- if @user&.tariff.access_allowed
  Брамник тоже рад и теперь будет впускать в хакерспейс.
  = ""

:plain
  Приходи к нам чаще. Твой месячный тариф: #{@user.monthly_payment_amount} рублей.

  Номер членского билета для платежа в ЕРИП: #{@user.id}.

  Команда хакерспейса.
