:plain
  Привет, #{@user&.first_name || 'участник Хакерспейса'}!

  Срок действия твоего членского взноса закончится #{@user.paid_until}. Если ты
  оплатишь взнос сегодня-завтра, мы будем тебе безмерно благодарны. После истечения
  действия взноса Брамник будет очень недоволен и не пустит в хакерспейс.

  Приходи к нам чаще. Твой месячный тариф: #{@user.monthly_payment_amount} рублей.

  Номер членского билета для платежа в ЕРИП: #{@user.id}.

  Команда хакерспейса.
