%footer.footer
  %nav.navbar.navbar-dark.fixed-bottom.py-0.bg-dark.navbar-expand
    .container
      .navbar-nav.me-auto
      %ul.navbar-nav.navbar-right
        %li.nav-item
          %a.nav-link.py-0{href: 'https://github.com/minsk-hackerspace/', target: :_blank}
            .fa.fa-github
        %li.nav-item
          %a.nav-link.py-0{href: 'https://www.facebook.com/hs-minsk', target: :_blank}
            .fa.fa-facebook-square
        %li.nav-item
          %a.nav-link.py-0{href: 'https://www.instagram.com/byhackerspace/', target: :_blank}
            .fa.fa-instagram
        %li.nav-item
          %a.nav-link.py-0{href: 'https://www.youtube.com/channel/UCoRCmZJBL-zV3-U5e6iB2gQ', target: :_blank}
            .fa.fa-youtube
        %li.nav-item
          %a.nav-link.py-0{href: 'https://plus.google.com/communities/110277676123000449866', target: :_blank}
            .fa.fa-google-plus-square
        %li.nav-item
          %a.nav-link.py-0{href: 'https://vk.com/hackerspace_minsk', target: :_blank}
            .fa.fa-vk
