%div.right-bar
  %ul
    %li
      %a{href: 'https://github.com/minsk-hackerspace/', target: :_blank}
        .fa.fa-github
    %li
      %a{href: 'https://www.facebook.com/hs-minsk', target: :_blank}
        .fa.fa-facebook-square
    %li
      %a{href: 'https://www.instagram.com/byhackerspace/', target: :_blank}
        .fa.fa-instagram
    %li
      %a{href: 'https://www.youtube.com/channel/UCoRCmZJBL-zV3-U5e6iB2gQ', target: :_blank}
        .fa.fa-youtube
    %li
      %a{href: 'https://vk.com/hackerspace_minsk', target: :_blank}
        .fa.fa-vk
%footer.footer
  .container
    .contacts
      %p
        [ 
        %span.currentYear
        |  
        all right resived | Made with by 
        %a{href: 'https://github.com/minsk-hackerspace/'}
          hackerspace crew
        | join to us ]
        %span.currentYear
        :javascript
          document.querySelector('.currentYear').innerHTML = (new Date()).getFullYear();
