%footer.footer
  .container
    .contacts
      %ul.nav.navbar-nav
        %li.text
          Наши контакты в социальных сетях:
        %li
          %a{href: 'https://github.com/minsk-hackerspace/'}
            .fa.fa-2x.fa-github
        %li
          %a{href: 'https://www.facebook.com/hs-minsk'}
            .fa.fa-2x.fa-facebook-square
        %li
          %a{href: 'https://www.instagram.com/byhackerspace/'}
            .fa.fa-2x.fa-instagram
        %li
          %a{href: 'https://www.youtube.com/channel/UCoRCmZJBL-zV3-U5e6iB2gQ'}
            .fa.fa-2x.fa-youtube
        %li
          %a{href: 'https://plus.google.com/communities/110277676123000449866'}
            .fa.fa-2x.fa-google-plus-square
