%footer.footer
  .container
    .contacts
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: 'https://github.com/minsk-hackerspace/', target: :_blank}
            .fa.fa-github
        %li
          %a{href: 'https://www.facebook.com/hs-minsk', target: :_blank}
            .fa.fa-facebook-square
        %li
          %a{href: 'https://www.instagram.com/byhackerspace/', target: :_blank}
            .fa.fa-instagram
        %li
          %a{href: 'https://www.youtube.com/channel/UCoRCmZJBL-zV3-U5e6iB2gQ', target: :_blank}
            .fa.fa-youtube
        %li
          %a{href: 'https://plus.google.com/communities/110277676123000449866', target: :_blank}
            .fa.fa-google-plus-square
        %li
          %a{href: 'https://vk.com/hackerspace_minsk', target: :_blank}
            .fa.fa-vk