%meta{itemprop: "name", content: page_title }
%meta{itemprop: "description", content: page_description }
%meta{itemprop: "image", content: image_url('og.png') }
%meta{itemprop: "author", content: "https://plus.google.com/communities/110277676123000449866" }
%meta{itemprop: "publisher", content: "https://plus.google.com/communities/110277676123000449866" }