%meta{property: "og:site_name", content: "Hackerspace.by" }
%meta{property: "og:title", content: page_title }
%meta{property: "og:type", content: "website" }
%meta{property: "og:image", content: image_url('default.png') }
%meta{property: "og:description", content: "" }
