%meta{property: "vk:title", content: page_title }
%meta{property: "vk:url", content: "https://hackerspace.by/" }
%meta{property: "vk:description", content: page_description }
%meta{property: "vk:image", content: image_url('/images/og.png') }