%meta{property: "vk:title", content: page_title }
%meta{property: "vk:url", content: request.url }
%meta{property: "vk:description", content: page_description }
%meta{property: "vk:image", content: og_page_image }