%div.js-location.js-location--under-header
  %script{src: 'https://cdn.lightwidget.com/widgets/lightwidget.js'}
  %iframe.lightwidget-widget{allowtransparency: 'true', scrolling: 'no', src: '//lightwidget.com/widgets/13f9bdc580885b74ac503b7125dc99cc.html', style: 'width:100%;border:0;overflow:hidden;height:133px;'}
