!!!
%html
  %head
    %title Открытая лаборатория технического творчества
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: root_path} Minsk Hackerspace
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{href: root_path} О нас
            %li
              %a{href: main_projects_path} Проекты
            %li
              %a{href: "#"} Календарь
            %li
              %a{href: "#"} Фотографии

          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "#"} Вход
    .container
      = yield